@font-face { font-family: Cantarell; src: url('../fonts/Cantarell-Regular.ttf'); }
@font-face { font-family: Cantarell; src: url('../fonts/Cantarell-Bold.ttf'); font-weight: bold; }
@font-face { font-family: Cantarell; src: url('../fonts/Cantarell-BoldOblique.ttf'); font-weight: bold; font-style: italic; }
@font-face { font-family: Cantarell; src: url('../fonts/Cantarell-Oblique.ttf'); font-style: italic; }

@font-face { font-family: JosefinSlab; src: url('../fonts/JosefinSlab-Regular.ttf'); }
@font-face { font-family: JosefinSlab; src: url('../fonts/JosefinSlab-Bold.ttf'); font-weight: bolder; }
@font-face { font-family: JosefinSlab; src: url('../fonts/JosefinSlab-BoldItalic.ttf'); font-weight: bolder; font-style: italic; }
@font-face { font-family: JosefinSlab; src: url('../fonts/JosefinSlab-Italic.ttf'); font-style: italic; }
@font-face { font-family: JosefinSlab; src: url('../fonts/JosefinSlab-Light.ttf'); font-weight: lighter; }
@font-face { font-family: JosefinSlab; src: url('../fonts/JosefinSlab-LightItalic.ttf'); font-weight: lighter; font-style: italic; }
@font-face { font-family: JosefinSlab; src: url('../fonts/JosefinSlab-SemiBold.ttf'); font-weight: bold; }
@font-face { font-family: JosefinSlab; src: url('../fonts/JosefinSlab-SemiBoldItalic.ttf'); font-weight: bold; font-style: italic; }
@font-face { font-family: JosefinSlab; src: url('../fonts/JosefinSlab-Thin.ttf'); font-weight: 100; }
@font-face { font-family: JosefinSlab; src: url('../fonts/JosefinSlab-ThingItalic.ttf'); font-weight: 100; font-style: italic; }

@font-face { font-family: Molengo; src: url('../fonts/Molengo-Regular.ttf'); }