div#container { margin: 0 auto; max-width: 750px; min-width: 700px; }

@media (max-width: 600px) {
    div#container { margin: 0 .5em; max-width: 600px; min-width: 500px; }
}

@media (max-width: 500px) {
    div#container { margin: 0 .5em; max-width: 500px; min-width: 400px; }
}

@media (max-width: 400px) {
    div#container { margin: 0 .5em; max-width: 400px; min-width: 300px; }
}