# video
AddType video/ogg                       ogg ogv
AddType video/mp4                       mp4
AddType video/webm                      webm
 
# Proper svg serving. Required for svg webfonts on iPad
#   twitter.com/FontSquirrel/status/14855840545
AddType     image/svg+xml               svg svgz
AddEncoding gzip                        svgz
                                        
# webfonts                            
AddType application/vnd.ms-fontobject   eot
AddType font/truetype                   ttf
AddType font/opentype                   otf
AddType font/woff                       woff
 
# assorted types                                     
AddType image/vnd.microsoft.icon        ico
AddType image/webp                      webp
AddType text/cache-manifest             manifest
AddType text/x-component                htc
AddType application/x-chrome-extension  crx

# you probably want www.example.com to forward to example.com -- shorter URLs are sexier.
#   no-www.org/faq.php?q=class_b
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTPS} !=on
    RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
    RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
</IfModule>

# without -MultiViews, Apache will give a 404 for a rewrite if a folder of the same name does not exist
#   e.g. /blog/hello : webmasterworld.com/apache/3808792.htm
Options +MultiViews
# -Indexes will have Apache block users from browsing folders without a default document
# Options -Indexes

# custom 404 page
ErrorDocument 404 /404.html

# use utf-8 encoding for anything served text/plain or text/html
AddDefaultCharset utf-8
# force utf-8 for a number of file formats
AddCharset utf-8 .html .css .js .xml .json .rss

# Disable auto-adding slashes because a slash at the end look so
# 1990s. Like come on dude.
# DirectorySlash Off

<IfModule mod_expires.c>
    <Files cache.manifest>
        ExpiresActive On
        ExpiresDefault "access"
    </Files>
</IfModule>

# Rewrite static files to the CDN
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^media/(.*) http://cdn.mylesbraithwaite.com/media/$1
</IfModule>

Redirect /favicon.ico http://cdn.mylesbraithwaite.com/media/img/favicon.ico
Redirect /apple-touch-icon.png  http://cdn.mylesbraithwaite.com/media/img/apple-touch-icon.png
Redirect /apple-touch-icon-precomposed.png http://cdn.mylesbraithwaite.com/media/img/apple-touch-icon.png

# Social Redirects.
Redirect /tumblr http://tumblr.mylesbraithwaite.com/?utm_source=homepage&utm_medium=web&utm_campaign=redirect
Redirect /life http://life.mylesbraithwaite.com/?utm_source=homepage&utm_medium=web&utm_campaign=redirect
Redirect /everyday http://everyday.mylesbraithwaite.com/?utm_source=homepage&utm_medium=web&utm_campaign=redirect
Redirect /twitter http://twitter.com/mylesb
Redirect /facebook http://www.facebook.com/mylesbraithwaite
Redirect /fb http://www.facebook.com/mylesbraithwaite
Redirect /flickr http://www.flickr.com/photos/mylesbraithwaite/
Redirect /linkedin http://www.linkedin.com/in/mylesbraithwaite

# Redirects for the old links.
Redirect /feeds/blog-posts/ /feeds/journal/atom.xml
Redirect /feeds/blog-posts /feeds/journal/atom.xml
Redirect /feeds/tumblelog/ /feeds/atom.xml
Redirect /feeds/blog/ /feeds/journal/atom.xml
Redirect /blog/feeds/atom/latest/ /feeds/journal/atom.xml

Redirect /blog/2009/jun/9/django-intranet/ /journal/2009/06/django-intranet/
Redirect /blog/2009/oct/20/evernote-ubuntu/ /journal/2009/10/evernote-ubuntu/
Redirect /blog/2010/nov/24/how-find-if-directory-or-file-exists-bash/ /journal/2010/11/how-find-if-directory-or-file-exists-bash/
Redirect /blog/2010/sep/21/starbucks-yonge-wanless/ /journal/2010/09/starbucks-yonge-wanless/
Redirect /blog/2010/sep/17/flamingo-brandon-flowers/ /journal/2010/09/flamingo-brandon-flowers

Redirect /snippets/17/ /journal/2007/10/secret-key/

Redirect /blog/ /journal/
Redirect /bookmarks/ /linked/

Redirect /page1/ /

