---
layout: base
---

<article class="link hentry">
    <header>
        <h1><a href="{{ page.link }}" rel="external bookmark" title="{{ page.title }}" class="entry-title">{{ page.title }}</a></h1>
        <p class="updated" title="{{ page.date | date_to_xmlschema }}Z">{{ page.date | date: "%A,&nbsp;%d&nbsp;%B&nbsp;%Y&nbsp;at&nbsp;%I:%M&nbsp;%p" }}</p>
    </header>
    
    <section class="entry-content">
        {{ content }}
    </section>
    
    <footer>
        <p class="tags">{% for tag in page.tags %}<a href="/tags/{{ tag | slugify }}/" rel="tag" class="tag">{{ tag }}</a>{% if forloop.rindex0 > 1 %},{% endif %} {% if forloop.rindex0 == 1 %}and {% endif %}{% endfor %}</p>
        <p class="license"><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">{{ page.title }}</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="{{ post.url }}" property="cc:attributionName" rel="cc:attributionURL">Myles Braithwaite</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.</p>
    </footer>
</article>