---
layout: base
---

<article class="post hentry">
    <header>
        <h1 class="entry-title">{{ page.title }}</h1>
        <p class="updated" title="{{ page.date | date_to_xmlschema }}Z">{{ page.date | date: "%A,&nbsp;%d&nbsp;%B&nbsp;%Y&nbsp;at&nbsp;%I:%M %p" }}</p>
        <p class="byline author vcard">
            (by&nbsp;<span class="fn">Myles&nbsp;Braithwaite</span>)
        </p>
    </header>
    
    <section class="entry-content">
        {{ content }}
    </section>
    
    <footer>
        <p class="tags">{% for tag in page.tags %}<a href="/tags/{{ tag | slugify }}/" rel="tag" class="tag">{{ tag }}</a>{% if forloop.rindex0 > 1 %},{% endif %} {% if forloop.rindex0 == 1 %}and {% endif %}{% endfor %}</p>
        {% if page.next or page.previous %}<p class="pagination">{% if page.previous %}<a href="{{ page.previous.url }}" title="{{ page.previous.title }}" rel="prev">&#x2190;Previous post</a>{% endif %}{% if page.next and page.previous %} | {% endif %}{% if page.next %}<a href="{{ page.next.url }}" title="{{ page.next.title}}" rel="next">Next post&#x2192;</a></p>{% endif %}
        {% endif %}
    </footer>
</article>